.blog-title {
  font-size: 3rem;
  font-weight: bold;
}
.blog-item-title {
  font-size: 1.6rem;
  font-weight: bold;
  line-height: 1.3;
}
.blog-item-author {
  font-size: 1.2rem;
}
.blog-item-content {
  font-size: 1.4rem;
}
.heroblog-title {
  font-size: 2.8rem;
  line-height: 1.2;
}
.heroblog-author {
  font-size: 1.4rem;
  color: #999;
}
.heroblog-content {
  font-size: 1.6rem;
}
.hero-readmore {
  font-size: 1.4rem;
  color: #fff;
  padding: 1rem 2rem;
  background: #000;
  width: fit-content;
  margin-top: 4rem;
}
